<div class="hero-section">
    <div class="intro-content">
        <div class="info-heading">Get insights quickly, with Google Forms</div>
        <div class="info-para">
            Easily create and share online forms and surveys, and analyze responses in real-time.
        </div>
        <div class="call-to-action">
            <div class="try-forms-btn">Try Forms for Work</div>
            <div class="go-to-forms-btn">Go to Forms</div>
        </div>
        <div class="link-to-signup">
            <div>Don't have an account?</div>
            <div>Sign up for free</div>
        </div>
    </div>
    <div class="sample-image-container">
        <img class="sample-image" src="../../../../assets/info-image.png" alt="" />
    </div>
</div>
