<div class="actions-container">
    <div class="action-btns">
        <button mat-icon-button>
            <mat-icon>filter_none</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>delete_outline</mat-icon>
        </button>
    </div>
    <div class="validation-btns">
        <span>Required</span>
        <mat-slide-toggle color="primary"></mat-slide-toggle>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>
