<div class="outer-container">
    <div class="dialog-container">
        <h1 mat-dialog-title class="dark:text-white">Send Form</h1>
        <button
            class="dark:text-white"
            [ngClass]="{ 'dark-btn-hover': darkModeEnabled }"
            mat-icon-button
            (click)="closeDialogBox()"
        >
            <mat-icon class="dark:text-white">close</mat-icon>
        </button>
    </div>
    <div class="collect-emails-container">
        <mat-checkbox class="dark:text-white" color="primary">Collect Emails</mat-checkbox>
    </div>
    <div class="share-btns-container dark:text-white">
        <p class="share" [ngClass]="{ 'dark-share': darkModeEnabled }">Send Via</p>
        <div><mat-icon>mail_outline</mat-icon></div>
        <div [ngClass]="{ 'dark-border-bottom': darkModeEnabled }"><mat-icon>link</mat-icon></div>
        <div><mat-icon>code</mat-icon></div>
    </div>
    <div class="link-text" [ngClass]="{ 'dark-link-text': darkModeEnabled }">Link</div>
    <div class="form-link-container">
        <mat-form-field class="link-field dark:text-white" appearance="legacy">
            <input matInput (click)="selectText($event)" [value]="link" />
        </mat-form-field>
    </div>
    <mat-dialog-actions class="btns-container" align="end">
        <button class="cancel-btn dark:text-white" mat-button (click)="closeDialogBox()">
            Cancel
        </button>
        <button
            class="copy-btn"
            [ngClass]="{ 'dark-copy-btn': darkModeEnabled }"
            (click)="toggleSnackBar()"
            [cdkCopyToClipboard]="link"
        >
            Copy
        </button>
    </mat-dialog-actions>
</div>
