@mixin flex-display() {
    display: flex;
    align-items: center;
}
@mixin set-width-height($width, $height) {
    width: $width;
    height: $height;
}
.outer-navbar {
    width: 100%;
    padding: 12px 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 12px;
    background: white;

    .navbar {
        @include flex-display();

        button[mat-icon-button]:hover {
            background: #f9f9f9;
        }

        button[mat-flat-button] {
            background: #673ab7;

            &:hover {
                background: #7349bc;
                transition: 0.1s linear;
            }
        }

        .menu-items {
            @include flex-display();
            width: 50%;
            gap: 10px;
            .logo {
                @include set-width-height(40px, 40px);
                margin: 0 10px;
            }
            .menu-item-title {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                color: #202124;
            }

            @media screen and (max-width: 950px) {
                button[mat-icon-button] {
                    display: none;
                }
            }

            @media screen and (max-width: 750px) {
                flex-direction: column;
                align-items: flex-start;

                .menu-item-title {
                    margin: 0 14px;
                }
            }
        }

        .action-btns {
            @include flex-display();
            justify-content: flex-end;
            width: 50%;
            gap: 10px;
            .user-image-container {
                @include set-width-height(40px, 40px);
                margin: 0 8px 0 8px;
                display: grid;
                place-items: center;

                .user-image {
                    @include set-width-height(85%, 85%);
                    cursor: pointer;
                    border-radius: 50%;
                    border: 4px solid transparent;

                    &:hover {
                        border: 4px solid #f0f0f0;
                    }
                }
            }

            @media screen and (max-width: 950px) {
                button[mat-icon-button] {
                    display: none;
                }
            }
        }
    }

    .genre {
        @include flex-display();
        width: 100%;
        justify-content: center;
        gap: 16px;

        div {
            color: #3c4043;
            font-size: 15px;
            font-weight: 500;
            padding: 6px 8px;
            cursor: pointer;
        }

        div:nth-child(1) {
            color: #3f50b5;
            border-bottom: 2px solid #3f50b5;
        }

        @media screen and (max-width: 700px) {
            justify-content: flex-start;
            margin-top: 4px;
            gap: 8px;

            div {
                font-size: 13px;
                padding: 4px 5px;
            }
        }
    }
}
