<form class="custom-container">
    <div class="question-container">
        <app-question-container
            [questionOverview]="questionOverview"
            (typeChange)="handleTypeChange($event)"
        ></app-question-container>
        <app-answer-container
            [options]="options"
            [questionType]="questionType"
        ></app-answer-container>
        <app-actions-container
            [validations]="validations"
            (addQuestion)="handleAddQuestion()"
            (deleteQuestion)="handleDeleteQuestion()"
            (duplicateQuestion)="handleDuplicateQuestion()"
        ></app-actions-container>
    </div>
</form>
