<div class="custom-container">
    <div class="question-container">
        <app-question-container></app-question-container>
        <app-answer-container [questionType]="'short'"></app-answer-container>
        <app-actions-container></app-actions-container>
    </div>
    <div class="question-container">
        <app-question-container></app-question-container>
        <app-answer-container [questionType]="'long'"></app-answer-container>
        <app-actions-container></app-actions-container>
    </div>
    <div class="question-container">
        <app-question-container></app-question-container>
        <app-answer-container [questionType]="'multiple-choice'"></app-answer-container>
        <app-actions-container></app-actions-container>
    </div>
</div>
