@mixin flex-display {
    display: flex;
    align-items: center;
}
.custom-container {
    width: 100%;
    display: grid;
    place-items: center;

    button:hover {
        background: #f9f9f9;
    }

    .question-container {
        width: 50%;
        border: 1px solid #dadce0;
        border-radius: 8px;
        min-height: 130px;
        padding: 0 22px;
        box-sizing: border-box;
        margin-bottom: 12px;
        position: relative;

        &:focus-within {
            border-left: 6px solid #4284f3;
        }

        @media screen and (max-width: 992px) {
            width: 65%;
        }
        @media screen and (max-width: 880px) {
            width: 72%;
        }
        @media screen and (max-width: 770px) {
            width: 80%;
        }
        @media screen and (max-width: 660px) {
            width: 90%;
        }
    }
}
