.forms-list {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10%;
    min-height: 55.9vh;

    .no-form {
        @apply border border-gray-300 py-3 rounded;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.25px;
        background: #f0f3f4;
        color: red;
    }

    .dark-no-form {
        background: #353d58;
        color: white !important;
    }

    .grid-view-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 939px) {
            justify-content: center;
        }
    }

    .spinner-container {
        @apply flex justify-center pt-12;
        height: 43.8vh;
        box-sizing: border-box;
    }

    @media screen and (max-width: 992px) {
        padding: 12px 3%;
    }

    @media screen and (max-width: 750px) {
        padding: 12px 1%;
    }
}
