<div class="forms-list">
    <div class="forms-list-header">
        <div class="form-title">Forms by title</div>
        <div class="form-owner">
            <button mat-button [matMenuTriggerFor]="formOwnerHeader">
                Owned by me <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #formOwnerHeader="matMenu" yPosition="below">
                <button mat-menu-item>Owned by me</button>
                <button mat-menu-item>Owned by anyone</button>
                <button mat-menu-item>Not owned by me</button>
            </mat-menu>
        </div>
        <div class="form-modified-date">Last modified</div>
        <div class="form-header-action-btns">
            <button mat-icon-button>
                <mat-icon>grid_on</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>arrow_drop_up</mat-icon>
                <!-- <span>AZ</span>
                <mat-icon>arrow_drop_down</mat-icon> -->
            </button>
            <button mat-icon-button>
                <mat-icon>folder_open</mat-icon>
            </button>
        </div>
    </div>
    <app-form-item></app-form-item>
    <app-form-item></app-form-item>
    <app-form-item></app-form-item>
    <app-form-item></app-form-item>
</div>
