.forms-list {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10%;

    @media screen and (max-width: 992px) {
        padding: 12px 3%;
    }

    @media screen and (max-width: 750px) {
        padding: 12px 1%;
    }
}
