<div class="drag-indicator-container">
    <div class="drag-indicator">
        <mat-icon>drag_indicator</mat-icon>
    </div>
</div>
<form class="form-question-container" [formGroup]="form">
    <mat-form-field appearance="fill">
        <input [errorStateMatcher]="matcher" formControlName="question" matInput />
        <mat-error>{{ getErrorMessage('question', 'Question') }}</mat-error>
    </mat-form-field>
    <button type="button" mat-icon-button>
        <mat-icon>crop_original</mat-icon>
    </button>
    <mat-form-field appearance="fill">
        <mat-label *ngIf="form.get('type')?.value === 'short'">
            <mat-icon>short_text</mat-icon> Short Answer
        </mat-label>
        <mat-label *ngIf="form.get('type')?.value === 'long'">
            <mat-icon>subject</mat-icon> Long Answer
        </mat-label>
        <mat-label *ngIf="form.get('type')?.value === 'multiple-choice'">
            <mat-icon>radio_button_checked</mat-icon> Multiple Choice
        </mat-label>
        <mat-select formControlName="type" (selectionChange)="handleSelectionChange()">
            <mat-option value="short"> Short Answer</mat-option>
            <mat-option value="long"> Long Answer</mat-option>
            <mat-option value="multiple-choice"> Multiple Choice </mat-option>
        </mat-select>
    </mat-form-field>
</form>
