<div class="drag-indicator-container">
    <div class="drag-indicator">
        <mat-icon>drag_indicator</mat-icon>
    </div>
</div>
<div class="form-question-container">
    <mat-form-field appearance="fill">
        <input matInput value="Untitled Question" />
    </mat-form-field>
    <button mat-icon-button>
        <mat-icon>crop_original</mat-icon>
    </button>
    <mat-form-field appearance="fill">
        <mat-label> <mat-icon>short_text</mat-icon> Short Answer</mat-label>
        <mat-select>
            <mat-option> <mat-icon>short_text</mat-icon> Short Answer</mat-option>
            <mat-option> <mat-icon>subject</mat-icon> Long Answer</mat-option>
            <mat-option> <mat-icon>radio_button_checked</mat-icon> Multiple Choice </mat-option>
        </mat-select>
    </mat-form-field>
</div>
