<form class="form-question-container" [formGroup]="form" autocomplete="off">
    <mat-form-field
        class="dark:text-white"
        [ngClass]="{ 'dark-input': darkModeEnabled }"
        appearance="fill"
    >
        <input [errorStateMatcher]="matcher" formControlName="question" matInput />
        <mat-error>{{ getErrorMessage('question', 'Question') }}</mat-error>
    </mat-form-field>
    <button type="button" mat-icon-button>
        <mat-icon class="dark:text-white">crop_original</mat-icon>
    </button>
    <mat-form-field
        class="dark:text-white"
        [ngClass]="{ 'dark-input': darkModeEnabled }"
        appearance="fill"
    >
        <mat-label class="dark:text-white" *ngIf="form.get('type')?.value === 'short'">
            <mat-icon>short_text</mat-icon> Short Answer
        </mat-label>
        <mat-label class="dark:text-white" *ngIf="form.get('type')?.value === 'long'">
            <mat-icon>subject</mat-icon> Long Answer
        </mat-label>
        <mat-label class="dark:text-white" *ngIf="form.get('type')?.value === 'multiple-choice'">
            <mat-icon>radio_button_checked</mat-icon> Multiple Choice
        </mat-label>
        <mat-select
            [ngClass]="{ 'dark-mat-select': darkModeEnabled }"
            formControlName="type"
            (selectionChange)="handleSelectionChange()"
        >
            <mat-option
                class="dark:bg-[#192039] dark:text-white"
                [ngClass]="{ 'dark-mat-option': darkModeEnabled }"
                value="short"
            >
                Short Answer</mat-option
            >
            <mat-option
                class="dark:bg-[#192039] dark:text-white"
                [ngClass]="{ 'dark-mat-option': darkModeEnabled }"
                value="long"
            >
                Long Answer</mat-option
            >
            <mat-option
                class="dark:bg-[#192039] dark:text-white"
                [ngClass]="{ 'dark-mat-option': darkModeEnabled }"
                value="multiple-choice"
            >
                Multiple Choice
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
