@mixin flex-display {
    display: flex;
    align-items: center;
}

.form-question-container {
    @include flex-display();
    justify-content: space-between;
    font-size: 16px;
    button {
        position: relative;
        top: -8px;
    }

    mat-form-field:nth-child(1) {
        width: 60%;
    }

    @media screen and (max-width: 660px) {
        flex-wrap: wrap;
        mat-form-field:nth-child(1) {
            width: 90%;
        }
    }

    @media screen and (max-width: 500px) {
        flex-wrap: wrap;
        mat-form-field:nth-child(1) {
            width: 85%;
        }
    }
}

.dark-mat-option {
    &:hover {
        background: #353d58 !important;
    }
}

.dark-mat-select {
    ::ng-deep .mat-select-value-text {
        color: white !important;
    }
}

.dark-input {
    ::ng-deep .mat-form-field-underline::before {
        background-color: white !important;
    }
    ::ng-deep .mat-form-field-ripple {
        background-color: #353d58 !important;
    }
}
