<div class="outer-navbar">
    <div class="outer-drawer" *ngIf="openDrawer" (click)="toggleDrawerMenu($event)">
        <div class="drawer">
            <div>
                <div class="logo-container">
                    <img class="logo" src="../../../../assets/forms.png" alt="" />
                    <h3 class="menu-item-title">Google Forms</h3>
                </div>
                <div class="misc-links">
                    <div>Overview</div>
                    <div>Features</div>
                    <div>Security</div>
                    <div>Pricing</div>
                    <div>More Tools <mat-icon>keyboard_arrow_down</mat-icon></div>
                </div>
            </div>
            <div class="drawer-action-btns">
                <div class="try-forms-btn">Try Forms for Work</div>
                <div class="go-to-forms-btn">Go to Forms</div>
                <div class="sign-in-btn" (click)="handleGoogleLogin()">Sign In</div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="menu-items">
            <div class="logo-container">
                <button class="toggle-drawer" (click)="openDrawer = true" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
                <img class="logo" src="../../../../assets/forms.png" alt="" />
                <h3 class="menu-item-title">Google Forms</h3>
            </div>
            <div class="misc-links">
                <div>Overview</div>
                <div>Features</div>
                <div>Security</div>
                <div>Pricing</div>
            </div>
        </div>
        <div class="auth-btns">
            <div class="tools">More Tools <mat-icon>keyboard_arrow_down</mat-icon></div>
            <div class="sign-in-btn" (click)="handleGoogleLogin()">Sign In</div>
            <div class="go-to-forms-btn">Go to Forms</div>
            <div class="try-forms-btn">Try Forms for Work</div>
        </div>
    </div>
</div>
