$icon_hover: #353d58;
$bg_color: white;
$text_color: white;
$input_field_color: #5a6582;

@mixin flex-display {
    display: flex;
    align-items: center;
}
@mixin set-width-height($width, $height) {
    width: $width;
    height: $height;
}
.navbar {
    @include flex-display();
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;

    .menu-items {
        @include flex-display();
        width: 25%;
        .logo {
            @include set-width-height(30px, 30px);
            margin: 0 10px;
        }
        .menu-item-title {
            margin: 0;
            font-size: 22px;
            margin-top: 3px;
            color: #5f6368;
            cursor: pointer;

            &:active {
                border-bottom: 2px solid #5f6368;
            }
        }

        .dark-menu-item-title {
            color: $text_color;
            &:active {
                border-bottom: 2px solid $bg_color;
            }
        }
    }

    .search-forms-field {
        @include flex-display();
        background: #f0f3f4;
        padding: 2px 8px;
        width: 50%;
        height: 48px;
        box-sizing: border-box;
        border-radius: 10px;

        &:focus-within {
            background: white;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
        }

        button:hover {
            background: #e2e5e6;
            transition: 0.1s linear;
        }

        .search-form-input {
            width: 100%;
            border: none;
            outline: none;
            background: inherit;
            font-size: 20px;
            font-weight: lighter;
            margin-left: 5px;
        }
    }

    .dark-search-forms-field {
        background: $icon_hover;
        color: $text_color;

        &:focus-within {
            background: $input_field_color;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
        }

        button:hover {
            background: $icon_hover;
            transition: 0.1s linear;
        }

        ::placeholder {
            color: $text_color;
        }
    }

    .account-btns {
        @include flex-display();
        justify-content: flex-end;
        width: 25%;

        button:hover {
            background: #f0f0f0;
        }

        .dark-btn-hover:hover {
            background: $icon_hover;
        }

        @media screen and (max-width: 880px) {
            button:nth-child(2) {
                display: none;
            }
        }

        .user-image-container {
            @include set-width-height(40px, 40px);
            margin: 0 8px 0 8px;
            display: grid;
            place-items: center;

            .user-image {
                @include set-width-height(85%, 85%);
                cursor: pointer;
                border-radius: 50%;
                border: 4px solid transparent;

                &:hover {
                    border: 4px solid #f0f0f0;
                }
            }

            .dark-user-image:hover {
                border: 4px solid $icon_hover;
            }
        }
    }

    @media screen and (max-width: 880px) {
        padding: 8px 10px;
        .search-forms-field {
            width: 55%;
        }
        .account-btns {
            width: 20%;
        }
    }
    @media screen and (max-width: 660px) {
        padding: 8px 5px;
        .menu-items {
            width: 30%;
        }
        .search-forms-field {
            width: 52%;
            padding: 2px 4px;
        }
        .account-btns {
            width: 18%;
        }
    }
    @media screen and (max-width: 550px) {
        .menu-items {
            width: 35%;
        }
        .search-forms-field {
            width: 42%;
        }
        .account-btns {
            width: 23%;
        }
    }
    @media screen and (max-width: 450px) {
        .menu-items {
            width: 25%;
            .menu-item-title {
                display: none;
            }
        }
        .search-forms-field {
            width: 52%;
        }
        .account-btns {
            width: 23%;
        }
    }
}

.autocomplete-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-autocomplete-options {
    background: #192039;
    border-bottom: 1px solid #5a6582;
    &:hover {
        background: #353d58;
    }
}
