<div class="card" *ngIf="!createNewForm; else newForm" (click)="redirectToEditPage(form._id)">
    <img class="card-image" [src]="imageSource" alt="{{ form.title }}" />
    <p class="card-title">{{ form.title }}</p>
</div>
<ng-template #newForm>
    <div class="card">
        <img
            (click)="handleCreateForm()"
            class="card-image"
            src="../../../../../assets/google-plus-image.png"
            alt="Blank Form"
        />
        <p class="card-title" [innerText]="'Blank Form'"></p>
    </div>
</ng-template>
