<div class="forms-list-item" (click)="redirectToEditPage($event, form._id!)">
    <div class="form-icon">
        <img class="" src="../../../../assets/google-form-list-item-logo.png" alt="" />
    </div>
    <div class="form-title">
        {{ form.title }}
    </div>
    <div class="form-status">{{ form.status | titlecase }}</div>
    <div *ngIf="isTodayModified; else isNotModifiedToday" class="form-modified-date">
        {{ form.updatedAt | date: 'mediumTime' }}
    </div>
    <ng-template #isNotModifiedToday>
        <div class="form-modified-date">
            {{ form.updatedAt | date: 'mediumDate' }}
        </div>
    </ng-template>
    <div class="form-header-action-btns">
        <button mat-icon-button [matMenuTriggerFor]="formListItemOptions">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #formListItemOptions="matMenu" yPosition="below">
            <button (click)="renameForm(form._id!, form.title)" mat-menu-item>
                <mat-icon>text_fields</mat-icon>&nbsp;Rename
            </button>
            <button (click)="removeForm(form._id!, form.title)" mat-menu-item>
                <mat-icon>delete_outline</mat-icon>&nbsp;Remove
            </button>
            <button
                [disabled]="form.status === 'published'"
                (click)="publishForm(form._id!)"
                mat-menu-item
            >
                <mat-icon>publish</mat-icon>&nbsp;Publish
            </button>
            <button
                [disabled]="form.status !== 'published'"
                (click)="shareForm(form._id!)"
                mat-menu-item
            >
                <mat-icon>share</mat-icon>&nbsp;Share
            </button>
            <!-- <button mat-menu-item><mat-icon>open_in_new</mat-icon>&nbsp;Open in new tab</button> -->
        </mat-menu>
    </div>
</div>
