<div
    class="forms-list-item dark:text-white"
    [ngClass]="{ 'dark-forms-list-item': darkModeEnabled }"
    (click)="redirectToEditPage($event, form._id!)"
>
    <div class="form-icon">
        <img class="" src="../../../../assets/google-form-list-item-logo.png" alt="" />
    </div>
    <div class="form-title" [ngClass]="{ 'dark-text-color': darkModeEnabled }">
        {{ form.title }}
    </div>
    <div [ngClass]="{ 'dark-text-color:': darkModeEnabled }" class="form-status">
        {{ form.status | titlecase }}
    </div>
    <div
        [ngClass]="{ 'dark-text-color': darkModeEnabled }"
        *ngIf="isTodayModified; else isNotModifiedToday"
        class="form-modified-date"
    >
        {{ form.updatedAt | date: 'mediumTime' }}
    </div>
    <ng-template #isNotModifiedToday>
        <div [ngClass]="{ 'dark-text-color': darkModeEnabled }" class="form-modified-date">
            {{ form.updatedAt | date: 'mediumDate' }}
        </div>
    </ng-template>
    <div class="form-header-action-btns">
        <button
            [ngClass]="{ 'dark-btn': darkModeEnabled }"
            mat-icon-button
            [matMenuTriggerFor]="formListItemOptions"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="dark:bg-[#5a6582]" #formListItemOptions="matMenu" yPosition="below">
            <button
                class="dark:text-white dark:hover:bg-[#353d58]"
                (click)="renameForm(form._id!, form.title)"
                mat-menu-item
            >
                <mat-icon class="dark:text-white mr-1">text_fields</mat-icon>Rename
            </button>
            <button
                class="dark:text-white dark:hover:bg-[#353d58]"
                (click)="removeForm(form._id!, form.title)"
                mat-menu-item
            >
                <mat-icon class="dark:text-white mr-1">delete_outline</mat-icon>Remove
            </button>
            <button
                [disabled]="form.status === 'published'"
                (click)="publishForm(form._id!)"
                class="dark:text-white dark:hover:bg-[#353d58]"
                mat-menu-item
            >
                <mat-icon class="dark:text-white mr-1">publish</mat-icon>Publish
            </button>
            <button
                [disabled]="form.status !== 'published'"
                (click)="shareForm(form._id!)"
                class="dark:text-white dark:hover:bg-[#353d58]"
                mat-menu-item
            >
                <mat-icon class="dark:text-white mr-1">share</mat-icon>Share
            </button>
        </mat-menu>
    </div>
</div>
