.custom-container {
    width: 100%;
    display: grid;
    place-items: center;

    button:hover {
        background: #f9f9f9;
    }
}

.form-container {
    background: white;
    padding-top: 12px;
    box-sizing: border-box;
    min-height: 89vh;
}

.dark-form-container {
    background: #353d58;
}

.cdk-drag-animating {
    transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}
