$text_color: white;
.forms-list-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0 21px 0;

    .form-title {
        width: 50%;
        font-size: 16px;
        color: #202124;
        font-weight: 500;
        letter-spacing: 0.25px;
    }

    .form-status {
        width: 20%;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: #202124;
    }

    .form-modified-date {
        width: 15%;
        font-size: 16px;
        color: #202124;
        font-weight: 500;
        text-align: center;
    }

    .form-header-action-btns {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button:hover {
            background: #f0f3f4;
            transition: 0.1s linear;
        }

        h3 {
            display: none;
            position: relative;
            top: 10px;
            margin-right: 12px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    @media screen and (max-width: 850px) {
        flex-wrap: wrap-reverse;
        .form-title {
            width: 60%;
        }
        .form-status {
            width: 20%;
        }
        .form-modified-date {
            width: 20%;
        }
        .form-header-action-btns {
            width: fit-content;
            h3 {
                display: block;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .form-title {
            width: 50%;
        }
        .form-status {
            width: 25%;
        }
        .form-modified-date {
            width: 25%;
        }
    }

    @media screen and (max-width: 550px) {
        .form-title {
            width: 40%;
        }
        .form-status {
            width: 30%;
        }
        .form-modified-date {
            width: 30%;
        }
    }

    @media screen and (max-width: 450px) {
        .form-title {
            width: 33%;
        }
        .form-status {
            width: 25%;
        }
        .form-modified-date {
            width: 42%;
        }
    }
}

.material-icons-sharp {
    border-radius: 0 !important;
}

.sort-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: 500;
    color: #5f6367;

    div:nth-child(1) {
        position: relative;
        left: 10px;
    }

    div:nth-child(3) {
        position: relative;
        right: 10px;
    }

    .arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

mat-icon {
    color: #5f6367;
}

.dark-mat-icon {
    mat-icon {
        color: $text_color;
    }

    &:hover {
        background: #353d58 !important;
    }
}

.dark-text-color {
    color: $text_color !important;
}

.relative-top {
    top: -3px;
}
