@mixin flex-display {
    display: flex;
    align-items: center;
}
.answer-container {
    width: 100%;

    mat-form-field {
        width: 50%;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 20px;
        color: #70757a;

        @media screen and (max-width: 880px) {
            width: 65%;
        }
        @media screen and (max-width: 770px) {
            width: 72%;
        }
        @media screen and (max-width: 660px) {
            width: 80%;
        }
    }

    .choice {
        width: 100%;
        @include flex-display();

        mat-form-field {
            width: 75%;
            margin: 0 8px;
            font-size: 14px;
            color: #202124;
        }

        .custom-icon-color {
            color: #bdbdbd;
            position: relative;
            top: -3px;
        }
    }

    .multiple-choice-actions {
        width: 100%;
        @include flex-display();
        color: #bdbdbd;
        margin-top: 12px;

        span {
            display: block;
            width: fit-content;
            margin: 0 8px 3px;
            font-size: 14px;
            box-sizing: border-box;
            cursor: pointer;

            &:hover {
                border-bottom: 1.5px solid #bdbdbd;
            }
        }

        .custom-icon-color {
            position: relative;
            top: -3px;
        }
    }
}

.dark-icon-color {
    color: white !important;
}

.dark-input {
    ::ng-deep .mat-form-field-underline {
        background-color: white !important;
    }
    ::ng-deep .mat-form-field-ripple {
        background-color: #353d58 !important;
    }
}
