<div class="recent-forms-section">
    <div class="recent-forms-banner">
        <p class="initiate-form">Start a new form</p>
        <div class="action-btns">
            <div>Template Gallery &nbsp; <mat-icon>unfold_more</mat-icon></div>
            <button mat-icon-button [matMenuTriggerFor]="recentFormsOptions">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #recentFormsOptions="matMenu" yPosition="below">
                <button (click)="toggleTemplates()" mat-menu-item>
                    {{ showTemplates ? 'Hide' : 'Show' }} all templates
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="recent-forms-gallery">
        <app-recent-forms-card [createNewForm]="true"></app-recent-forms-card>
        <ng-container *ngIf="showTemplates">
            <app-recent-forms-card
                *ngFor="let form of forms"
                [createNewForm]="false"
                [form]="form"
            ></app-recent-forms-card>
        </ng-container>
    </div>
</div>
